[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
datasets = ">=1.7.0"
flake8 = "*"
isort = "==5.8.0"
pytest = "*"
streamlit = "==0.82"
plotly = "*"
requests = "*"
pandas = "*"
py7zr = "*"
PyYAML = ">=5"
Jinja2 = "*"
promptsource = {editable = true, path = "."}

[dev-packages]

[requires]
python_version = "3.7"
